body,html
{
    padding:0;
    margin:0;
    #background:linear-gradient(120deg,#2980b9,#8e448e);
    background-image:url("PORTFOLIO.jpg");
}
header
{
    width:100%;
    height:72px;
    background-color:#282828;
}
h1
{
    position:absolute;
    padding:10px;
    float:left;
    margin-left:2%;
    margin-top:5px;
    color:Yellow;
}
span
{
    color:#ffff;
    font-size:20px;
}
ul
{
    width:auto;
    float:right;
    margin-top:8px;

}
li
{
    display:inline-block;
    padding:15px 12px;

}
a{
    text-align:center;
    color:white;
    text-decoration:none;

}
a:hover{
    color:#00ffff;
}
img{
    width:100%;
    margin-top:-16px;
}
.login
{
    position:absolute;
    top:55%;
    left:51%;
    width:350px;
    float:right;
    transform:translate(-50%,-50%);
    background:linear-gradient(120deg,#2980b9,#8e448e);
    box-sizing:border-box;
    height:300px;
    border-radius:10px;
}
.user
{
    text-align:center;
    margin-top:50px;
    color:white;
}
.user label
{
    margin-right:70px;
}
.pass
{
    text-align:center;
    margin-top:30px;
    color:white;
}
.pass label{
    margin-right:70px;
}
.submit
{
    text-align:center;
    margin-top:6px;
    margin-right:12px;
}
.forget
{
    margin-left:95px;
    color:white;
}
